<header class="site-header" id="site-header">
  <div class="header-inner">
    <a href="/" class="logo">
      <img src="/images/logo/rw-logo-2015-1.png" alt="Range Water Conditioning" width="200" height="60">
    </a>
    
    <button class="menu-toggle" id="menu-toggle" aria-label="Toggle Menu" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>
    
    <nav class="main-nav" id="main-nav">
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        
        <li class="has-dropdown">
          <a href="#about">About</a>
          <ul class="dropdown">
            <li><a href="/pages/about/">About Us</a></li>
            <li><a href="/pages/reviews/">Testimonials</a></li>
            <!-- Blog and Areas Served hidden from nav -->
            <!--
            <li><a href="/pages/blog/">Blog</a></li>
            <li class="has-dropdown">
              <a href="/pages/areas-served/">Areas Served</a>
              <ul class="dropdown">
                <li class="has-dropdown">
                  <a href="/pages/areas-served/crow-wing-county/">Crow Wing County, MN</a>
                  <ul class="dropdown">
                    <li><a href="/pages/areas-served/brainerd/">Brainerd</a></li>
                    <li><a href="/pages/areas-served/pequot-lakes/">Pequot Lakes</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="/pages/areas-served/st-louis-county/">St. Louis County, MN</a>
                  <ul class="dropdown">
                    <li><a href="/pages/areas-served/duluth/">Duluth</a></li>
                    <li><a href="/pages/areas-served/hermantown/">Hermantown</a></li>
                    <li><a href="/pages/areas-served/hibbing/">Hibbing</a></li>
                    <li><a href="/pages/areas-served/biwabik/">Biwabik</a></li>
                  </ul>
                </li>
                <li class="has-dropdown">
                  <a href="/pages/areas-served/itasca-county/">Itasca County, MN</a>
                  <ul class="dropdown">
                    <li><a href="/pages/areas-served/grand-rapids/">Grand Rapids</a></li>
                  </ul>
                </li>
                <li><a href="/pages/areas-served/bemidji/">Bemidji</a></li>
                <li><a href="/pages/areas-served/cloquet/">Cloquet</a></li>
                <li><a href="/pages/areas-served/beltrami-county/">Beltrami County, MN</a></li>
                <li><a href="/pages/areas-served/carlton-county/">Carlton County, MN</a></li>
                <li><a href="/pages/areas-served/north-shore/">North Shore, MN</a></li>
                <li><a href="/pages/areas-served/koochiching-county/">Koochiching County, MN</a></li>
                <li><a href="/pages/areas-served/hill-city/">Hill City, MN</a></li>
              </ul>
            </li>
            -->
          </ul>
        </li>
        
        <li class="has-dropdown">
          <a href="/pages/residential/">Residential</a>
          <ul class="dropdown">
            <li><a href="/pages/residential/point-of-use-reverse-osmosis/">Point of Use RO Systems</a></li>
            <li><a href="/pages/residential/water-softeners/">Water Softeners</a></li>
            <li><a href="/pages/residential/iron-removal/">Iron Removal</a></li>
            <li><a href="/pages/residential/whole-house-filtration/">Water Filtration Systems</a></li>
            <li><a href="/pages/residential/whole-house-reverse-osmosis/">Whole House Reverse Osmosis</a></li>
            <li><a href="/pages/residential/service-maintenance/">Water System Service and Repairs</a></li>
          </ul>
        </li>
        
        <li><a href="/pages/commercial/">Commercial</a></li>
        <li><a href="/pages/support/">Support</a></li>
        <li><a href="/pages/water-testing/">Water Testing</a></li>
        <li><a href="/pages/contact/">Contact</a></li>
        
        <li class="nav-cta">
          <a href="#quote" class="btn btn-accent" data-modal="quote-modal">Get a FREE Quote!</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
